/*.navigation
{
    float: left;
    width: 15%;
    height: 100vh;
    background: #2a2a2a;
}
.navigation > nav{
    display: compact;
}
.navigation > nav a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.navigation > nav ul{
    list-style: none;
}
.navigation > nav ul > li{
    padding-top: 5px;
    padding-bottom: 5px;
}*/
nav
{
    float: left;
    width: 15%;
    height: 100vh;
    background: #2a2a2a;
    display: compact;
}
nav a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
nav ul{
    list-style: none;
}
nav ul > li{
    padding-top: 5px;
    padding-bottom: 5px;
}


.mainPage
{
    float: right;
    width: 84%;
    height: 100vh;
    /*padding: 5px;*/
}
body{
    margin: 0;
}
